.c-hero {
    height: 100vh;

    .container {
      height: 100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #{$white};
      overflow: visible;
    }

    &__title {
      font-family: 'SF NS Rounded';
      font-style: normal;
      font-weight: 100;
      font-size: 18px;
      color: #{$white};
      position: absolute;
      top: 48px;
      right: 64px;

      @include mobileMax952p {
        top: 40px;
        right: 50%;
        transform: translate(50%, 0);
      }
    }

    &__pic1 {
      width: px_to_vw_desktop(314);
      position: absolute;
      top: px_to_vw_desktop(218);
      left: px_to_vw_desktop(226);
      z-index: -1;

      @include mobileMax952p {
        width: px_to_vw_mobile(177);
        top: 104px;
        left: px_to_vw_mobile(-25);
      }
    }

    &__pic2 {
      width: px_to_vw_desktop(424);
      position: absolute;
      right: px_to_vw_desktop(160);
      bottom: px_to_vw_desktop(189);
      z-index: -1;

      @include mobileMax952p {
        width: px_to_vw_mobile(240);
        right: px_to_vw_mobile(-62);
        bottom: px_to_vw_mobile(120);
      }
    }

    &__textblock {
      position: relative;
      padding-top: px_to_vw_desktop(95);

      img {
        position: absolute;
        top: px_to_vw_desktop(-30);
        left: px_to_vw_desktop(651);
        width: px_to_vw_desktop(45);

        @include mobileMax952p {
          top: px_to_vw_mobile(-15);
          left: px_to_vw_mobile(183);
          width: px_to_vw_mobile(13);
        }
      }

      @include mobileMax952p {
        padding-top: px_to_vw_mobile(25);
      }
    }

    &__headline {
        font-family: "Bodoni Moda";
        font-style: normal;
        font-weight: 400;
        font-size: px_to_vw_desktop(228);
        line-height: 43%;
        text-align: center;

        span {
          font-family: "Whisper";
          font-style: normal;
          font-weight: 400;
          font-size: px_to_vw_desktop(183.77);
          line-height: 85%;
          opacity: 0.1;

          @include mobileMax952p {
            font-size: px_to_vw_mobile(52);
          }
        }

        @include mobileMax952p {
          font-size: px_to_vw_mobile(64);
        }
    }

    &__date {
      font-family: 'SF NS Rounded';
      font-style: normal;
      font-weight: 100;
      font-size: px_to_vw_desktop(24);
      margin-top: px_to_vw_desktop(124);

      @include mobileMax952p {
        font-size: px_to_vw_mobile(20);
        margin-top: px_to_vw_mobile(67);
      }
    }

    &__leaves {
      margin-top: px_to_vw_desktop(24);
      width: px_to_vw_desktop(208);

      @include mobileMax952p {
        margin-top: px_to_vw_mobile(16);
        width: px_to_vw_mobile(208);
      }
    }

    @include mobileMax952p {
      height: auto;
      padding: px_to_vw_mobile(264) 0 px_to_vw_mobile(366);
    }
}
