<section class="c-hero ">

    <div class="container">
        <img class="c-hero__pic1" src="images/content/thao_mira_1.png" alt="">
        <img class="c-hero__pic2" src="images/content/thao_mira_2.png" alt="">

        <p class="c-hero__title">SVATEBNÍ WEB</p>

        <div class="c-hero__textblock">
          <img src="images/content/a_diacritic.svg" alt="">
          <h1 class="c-hero__headline">THAO<span>&amp;</span><br />MIROSLAV</h1>
        </div>

        <p class="c-hero__date">NEDĚLE 8.10.2023 VE 14 HOD</p>
        <img class="c-hero__leaves"src="images/content/leaves.svg" alt="">

    </div>
</section>
