{% set title = "Homepage" %}

{% include "header/header.njk" %}

{% include "c-nav/c-nav.njk" %}

<div id="smooth-wrapper">
    <div id="smooth-content">

        {% include "c-hero/c-hero.njk" %}

        {% include "c-map-section/c-map-section.njk" %}

        {% include "c-program-section/c-program-section.njk" %}

        {% include "c-footer/c-footer.njk" %}

    </div>
</div>

{% include "footer/footer.njk" %}
