$smashed-pumpkin: #FF6A39;
$feldgrau: #485956;
$raisin-black: #222223;
$bg-black: #1B1B1C;
$quick-silver: #A8A99E;
$american-silver: #D0D0CE;
$cultured: #F8F8F9;
$white: #FFFFFF;
$transparent: transparent;

$black: #000000;

:root {
    --primary-bg-color: #6B8978; // sets page background on body and root
}
