<section class="c-map-section">
    <div class="container">
        <h2 class="c-map-section__headline">PENZION<br />NA KMÍNĚ</h2>
        <button class="c-map-section__map-button">UKÁZAT MAPU</button>
    </div>
</section>
