.c-map-section {
    height: 100vh;
    overflow: hidden;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: px_to_vw_desktop(150);
        position: relative;
        overflow: hidden;

        @include mobileMax952p {
            padding: px_to_vw_mobile(30);
        }

    }

    &__bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      z-index: -1000;
      object-fit: cover;

    }

    &__headline {
        font-family: "Bodoni Moda";
        font-size: px_to_vw_desktop(200);
        line-height: 110%;
        color: #{$white};
        text-align: center;

        @include mobileMax952p {
            font-size: px_to_vw_mobile(64);
        }
    }

    &__map-button {
      padding: 18px 32px;
      border: 1px solid #{$white};
      border-radius: 32px;
      color: #{$white};
      font-family: 'SF NS Rounded';
      font-style: normal;
      font-weight: 100;
      font-size: 18px;
      margin-top: px_to_vw_desktop(64);
      cursor: pointer;

      // transition: color 0.55s;

      &:hover {
        transition: background-color 0.55s ease-in-out;
        background-color: #{$white};
        color: #5A595B;
      }

      @include windowMin2200p {
        font-size: 20px;
        padding: 20px 34px;
      }

      @include windowMax1700p {
        font-size: 16px;
        padding: 16px 30px;
      }

      @include mobileMax952p {
          font-size: 16px;
          margin-top: px_to_vw_mobile(40);
      }
    }

    @include mobileMax952p {
        min-height: 667px;
    }
}
