<section class="c-map-section">
  
    <img class="c-map-section__bg" src="images/bg/map_section_bg.png" alt="" />

    <div class="container">
        <h2 class="c-map-section__headline">PENZION<br />NA KMÍNĚ</h2>
        <button class="c-map-section__map-button">UKÁZAT MAPU</button>
    </div>
</section>
