.c-footer {

    .container {
        height: 100%;
        text-align: center;
        padding-bottom: 40px;

        @include mobileMax952p {
          padding-bottom: 32px;
        }
    }

    &__copyright {
        font-family: "SF NS Rounded";
        font-style: normal;
        font-weight: 100;
        font-size: 18px;
        color: #{$white};
        opacity: 0.5;

        @include windowMin2200p {
            font-size: 20px;
        }

        @include windowMax1700p {
            font-size: 16px;
        }
    }
}
