<section class="c-program-section">
    <div class="container">
        <h2 class="c-program-section__headline desktop-only">HARMONOGRAM</h2>

        {% for time, desc in [
          ["14:00", "SVATEBNÍ OBŘAD PŘED STODOLOU"],
          ["15:00", "FOCENÍ, OTEVŘENÍ RAUTU, ZÁBAVA"],
          ["18:00", "PŘÍPITKY, SERVÍROVANÁ VEČEŘE, KRÁJENÍ DORTU"],
          ["22:00", "PÁRTY, NOČNÍ OBČERSTVENÍ"]]
        %}
        <div class="c-program-section__timebox">
          <h3>{{ time }}</h3>
          <p>{{ desc }}</p>
        </div>
        {% endfor %}
        
    </div>
</section>
