<section class="c-program-section">
    <div class="container">
        <h2 class="c-program-section__headline">HARMONOGRAM</h2>
        <div class="c-program-section__timebox">
          <h3>14:00</h3>
          <p>SVATEBNÍ OBŘAD PŘED STODOLOU</p>
        </div>

        <div class="c-program-section__timebox">
          <h3>15:00</h3>
          <p>FOCENÍ, OTEVŘENÍ RAUTU, ZÁBAVA</p>
        </div>

        <div class="c-program-section__timebox">
          <h3>18:00</h3>
          <p>PŘÍPITKY, SERVÍROVANÁ VEČEŘE, KRÁJENÍ DORTU</p>
        </div>

        <div class="c-program-section__timebox">
          <h3>22:00</h3>
          <p>PÁRTY, NOČNÍ OBČERSTVENÍ</p>
        </div>
    </div>
</section>
