<nav class="c-nav">
    <div class="container">
        <div class="c-nav__menu">
          <hr />
          <hr />
        </div>

        <div class="c-nav__bottom">
          <p>SCROLL</p>
          <img src="images/content/arrow_down.svg" alt="" />
        </div>
    </div>
</nav>
